<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css" />
    <title>Doruk Alakavuklar</title>
</head>
<body>
    <div class="aboutMe">
        <img src="./images/doruk.png" alt="" class="doruk-img" />
        <br /> <!-- line break -->
        <button id="aboutMe-button">About Me</button>
        <p>Click here to know more about me! </p>
        </div>
     
      
    
      

</body>
</html>